[build]
  functions = "netlify/functions"
  publish = "public"
  command = "echo 'No build step required'"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
